* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #4ad1a4;
  font-family: 'Poppins', sans-serif;
  padding: 1.5em;
}

h1 {
  text-align: center;
  margin-bottom: 0.2em;
  letter-spacing: 1px;
  font-weight: 900;
  }

#description {
  font-style: italic;
  text-align: center;
  margin-bottom: 0.8em;

}

.container {
  max-width: 500px;
  background-color: white;
  border-radius: 5px;
}

form {
  padding: 2em 1.5em;
}

textarea {
  width: 100%;
}

input {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="number"],
select, textarea  {
  box-sizing: border-box;
  width: 100%;
  padding: 0.7em;
  margin: .25em 0 1em;
  border: 1px solid #404040;
  border-radius: 5px;
}


ul {
  list-style: none;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: .5em;
  margin-top: .25em;
}

#submit {
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  background: linear-gradient(#80ebc7, #6fad9f);
  color: white;
  transition: color 0.5s;
}

#submit:hover, #submit:focus {
  background: #6fad9f;
  color: black;
}
