* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #4ad1a4;
  font-family: 'Poppins', sans-serif;
  padding: 1.5em;
}

h1 {
  text-align: center;
  margin-bottom: 0.3em;
  }

#description {
  font-style: italic;
  text-align: center;
  margin-bottom: 0.6em;

}

.container {
  max-width: 500px;
  background-color: white;
  border-radius: 5px;
}

form {
  padding: 2em 1.5em;
}

textarea {
  width: 100%;
}

input {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="number"],
select  {
  box-sizing: border-box;
  width: 100%;
  padding: 0.7em;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
  border: 1px solid #404040;
  border-radius: 5px;
}


ul {
  list-style: none;
}

#submit {
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover, #submit:focus {
  background-color: #6fad9f;
}
